footer.footer
  a.footer__copyright(href='https://htmlacademy.ru/' aria-label='HTMLAcademy')
    img(src='/img/icons/HTMLAcademyLogo.svg' alt='HTMLAcademy' width='112' height='50')
  span.footer__dot
  p.footer__text Типотека, 2019
