ul.preview__list
  li.preview__item
    ul.preview__breadcrumbs
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href='/articles/category/1') Дизайн
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href='/articles/category/1') Удаленная работа
    .preview__background
      img.preview__background-image(src='/img/skyscraper@1x.jpg' width='460' height='240' srcset='/img/skyscraper@1x.jpg 1x, /img/skyscraper@2x.jpg 2x' alt='Фотография небоскреба')
    time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
    h3.preview__name
      a.preview__name-link(href='/articles/1') Я ничего не понял
    p.preview__text
      | Если вы сами пишете такие письма — почитайте Ильяхова.
      | А в этой заметке я расскажу про заклинание, которое от таких писем помогает.
    a.preview__comment(href='/articles/1')
      | Комментарии
      span.preview__cloud
      b.preview__comment-count 12
  li.preview__item
    ul.preview__breadcrumbs
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href='/articles/category/1') Фриланс
    .preview__background
      img.preview__background-image(src='/img/sea@1x.jpg' width='460' height='240' srcset='/img/sea@1x.jpg 1x, /img/sea@2x.jpg 2x' alt='Фотография моря')
    time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
    h3.preview__name
      a.preview__name-link(href='/articles/1') Путешествие в Голландию
    p.preview__text
      | Если вы сами пишете такие письма — почитайте Ильяхова.
      | А в этой заметке я расскажу про заклинание, которое от таких писем помогает.
    a.preview__comment(href='/articles/1')
      | Комментарии
      span.preview__cloud
      b.preview__comment-count 12
  li.preview__item.preview__item--noimage
    ul.preview__breadcrumbs
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href='/articles/category/1') Фриланс
    time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
    h3.preview__name
      a.preview__name-link(href='/articles/1')
        | Путин подписал закон о предустановке российских приложений на
        | смартфоны и другую
        | электронику
    p.preview__text
      | Президент России Владимир Путин подписал закон об обязательной предустановке
      | российского программного
      | обеспечения на электронную технику, продаваемую в России. Документ опубликован на официальном сайте
      | правовой информации.
    a.preview__comment(href='/articles/1')
      | Комментарии
      span.preview__cloud
      b.preview__comment-count 12
  li.preview__item
    ul.preview__breadcrumbs
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href='/articles/category/1') Дизайн
      li.preview__breadcrumbs-item
        a.preview__breadcrumbs-link(href='/articles/category/1') Удаленная работа
    .preview__background
      img(src='/img/forest@1x.jpg' width='460' height='240' srcset='/img/forest@1x.jpg 1x, /img/forest@2x.jpg 2x' alt='Фотография леса')
    time.preview__time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
    h3.preview__name
      a.preview__name-link(href='/articles/1') Я понял, но не все
    p.preview__text
      | Если вы сами пишете такие письма — почитайте Ильяхова.
      | А в этой заметке я расскажу про заклинание, которое от таких писем помогает.
    a.preview__comment(href='/articles/1')
      | Комментарии
      span.preview__cloud
      b.preview__comment-count 12
